@font-face {
  font-family: "kopub_dot_b";
  src: url('../fonts/KoPubDotumBold.ttf');
}
@font-face {
  font-family: "kopub_dot_l";
  src: url('../fonts/KoPubDotumLight.ttf');
}
@font-face {
  font-family: "kopub_bat_l";
  src: url('../fonts/KoPubBatangLight.ttf');
}
@font-face {
  font-family: "kopub_bat_b";
  src: url('../fonts/KoPubBatangBold.ttf');
}
@font-face {
  font-family: 'noto_li';
  src: url('../fonts/NotoSerif-LightItalic.ttf');
}